.divAll{
    display: flex;
    color: #0a4e70;
    justify-content:center;
    background-color:#bde0fe;
    width: 100%;
    height: 100vh;
    align-items: center;
    
}
.divContainer{
  background-color: #f6fff8 ;
  border: solid 2px;
  /* display: flex; */
  padding: 10px 100px 20px;
  border-radius:38px;
  width: 50%;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
    


}
 .form{
color:#0a4e70;
display: flex;
flex-direction: column;
justify-content: space-between;
font-weight: bold;

 }
 .divSubForm{
  display: flex;

}

.buttonCreate{
   margin: 13%; 
  /* margin-bottom: 500%; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-style:solid;
  width: 100px;
  margin-left: 50px;
  height: 30px;
  font-size: 20px;
  background-color: #bde0fe;
  border-radius:  40px ;
  color: #0a4e70;
  font-weight: bold;
  border: solid 3px  #0a4e70; ;


}

.form div{
display: flex;
justify-content: space-between;
margin-left: 150px;
margin-right: 150px;

}

