.divAll{
    display: flex;
    color: #0a4e70;
    justify-content:center;
    background-color:#bde0fe;
    width: 100%;
    height: 100vh;
    align-items: center;
    
}
.divContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6fff8 ;
  border: solid 2px;
  /* padding: 10px 100px 20px; */
  border-radius:38px;
  width: 70%;
  /* height: 60%; */
  align-items: center;
  font-size: 22px;
}
 .form{  
color:#0a4e70;
display: flex;
align-items: baseline;
flex-direction: column;
/* justify-content: space-between; */
font-weight: bold;
 }
.inputDiv{
  display: flex;
/* justify-content: space-between; */
align-items: center;
  margin: 10px;
}

.buttonCreate{
   margin-left: 13%; 
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: flex-end; */
  border-style:solid;
  /* width: 100px; */
  /* margin-left: 50px; */
  /* height: 30px; */
  font-size: 20px;
  background-color: #bde0fe;
  border-radius:  40px ;
  color: #0a4e70;
  font-weight: bold;
  border: solid 3px  #0a4e70; 
}
.buttonCreate:hover{
cursor: pointer;
}
.form span{
  margin-left: 10px;
  font-size: 18px;
  color: rgb(134, 18, 18);
}


