.divAll{
  
    color: #496675;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.divContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.divTitle{
    background-color: aliceblue;
}
.title {
    background-color: bisque;
    text-align: center;


}