.containerSearch {
    display: flex;
    margin-right: 2%;
    align-items: center;
}

.searchInPut {

    border-style: none;
    height: 37.5px;
    font-size: 20px;
    background-color: white;
    border-radius: 20px 00px 00px 20px;
}

.buttonSearch {
    border-style: none;
    width: 75px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 00px 20px 20px 00px;
    cursor: pointer;  
}